div.wrapper {
position: relative;
width: 100%;
}
div.wrapper::before {
content:'';
display: block;
padding-top: 80%;
}
div.wrapper iframe {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
}

a, div, textarea {
font-family:"Kokoro";
}

textarea {
background-image: url(https://abs.twimg.com/emoji/v2/svg/1f50d.svg);
background-repeat: no-repeat;
background-position: right -10% bottom 50%;
background-size: 50% 50%;
border-color: #dadada;
font-size: 0.9em;
}

form {
margin: auto;
text-align: center;
}

.google {
margin: auto;
text-align: center;
}

button.ja{
padding-right: 10px;
padding-left: 10px;
margin: auto;
color: #fcfcfc;
background: #1DA1F2;
border: none;
outline: none;

font-weight: bold;
display:inline-block;
border-radius: 50px;

touch-action: manipulation;
}

button.en{
padding-right: 10px;
padding-left: 10px;
padding-top: 2px;
padding-bottom: 2px;
margin: auto;
color: white;
background: #1DA1F2;
border: none;
outline: none;

display:inline-block;
border-radius: 50px;

touch-action: manipulation;
}

button.us{
padding-right: 10px;
padding-left: 10px;
margin: auto;
color: #fcfcfc;
background: #1DA1F2;
border: none;
outline: none;

display:inline-block;
border-radius: 50px;

touch-action: manipulation;
}

h1 {
padding-right: 10px;
padding-left: 10px;

color: white;
background: #1DA1F2;

border-radius: 50px;
border: 1px solid black;

display:inline-block;
}

a {
color: #1da1f2;
font-weight: bold;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}

.scroll {
overflow-x: scroll;
white-space: nowrap;
}

.material-icons {
-webkit-user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}

@media (prefers-color-scheme: light) {
   body {
   background-color: white;
   }
   .scs {
   border-left:solid 1px #dadada;
   border-right:solid 1px #dadada;
   border-bottom:solid 1px #dadada;
   background-position: left bottom 50%;
   border-color: #dadada;
   }
.hoge:after{
content:"light";
}
}

@media (prefers-color-scheme: dark) {
   body {
   background-color: #23282f;
   }
   textarea{
   background-color: #444444;
   border-color: #667580;
   color: white;
   }
   p {
   color: white;
   }
   .scs {
   border-left:solid 1px;
   border-right:solid 1px;
   border-bottom:solid 1px;
   background-position: left bottom 50%;
   border-color: #667580;
   }
   input[type=date] {
   background: #444444 url(https://abs.twimg.com/emoji/v2/svg/1f5d3.svg);
   background-repeat: no-repeat;
   background-position: right;
   border-color: #667580;
   color: white;
   }
   select {
   background: #444444 url();
   border-color: #667580;
   color: white;
   }
.hoge:after{
content:"dark";
}
:root{
--mycontent:black;
}
}
