textarea {
background-image: url(https://abs.twimg.com/emoji/v2/svg/1f50d.svg);
background-repeat: no-repeat;
background-position: right bottom 50%;
background-size: 50% 50%;
border-color: #dadada;
font-size: 0.9em;
}

form {
text-align: center;
margin: auto;
}

.google {
text-align: left;
}


button.ja{
padding-right: 10px;
padding-left: 10px;
margin: auto;
color: white;
background: #1DA1F2;
border: none;
outline: none;

font-weight: bold;
display:inline-block;
border-radius: 50px;

touch-action: manipulation;
}

button.en{
padding-right: 10px;
padding-left: 10px;
padding-top: 2px;
padding-bottom: 2px;
margin: auto;
color: white;
background: #1DA1F2;
border: none;
outline: none;

display:inline-block;
border-radius: 50px;

touch-action: manipulation;
}

button.us{
padding-right: 10px;
padding-left: 10px;
margin: auto;
color: white;
background: #1DA1F2;
border: none;
outline: none;

display:inline-block;
border-radius: 50px;

touch-action: manipulation;
}

h1 {
padding-right: 10px;
padding-left: 10px;

color: white;
background: #1DA1F2;

border-radius: 50px;
border: 1px solid black;

display:inline-block;
}

a {
color: #1da1f2;
text-decoration:none;
font-weight:bold;
}
a:hover {
text-decoration:underline;
}


.scs {
   border-top:solid 1px #dadada;
   border-left:solid 1px #dadada;
   border-right:solid 1px #dadada;
   border-bottom:solid 1px #dadada;
   background-position: left bottom 50%;
   border-color: #dadada;
}

@media (prefers-color-scheme: light) {
    body {
    background-color: white;
    }
.hoge:after{
content:"light";
}
}

@media (prefers-color-scheme: dark) {
    body {
    background-color: #23282f;
    }
    textarea{
    background-color: #444444;
    color: white;
    }
    p {
    color: white;
    }
.hoge:after{
content:"dark";
}
:root{
--mycontent:black;
}
}

.scroll {
   overflow-x:scroll;
   white-space: nowrap;
}
