input[type="date"] {
  display:block;
  background:
    white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
    no-repeat;
    cursor:pointer;
}

div, textarea {
font-family:"Kokoro";
}

textarea {
background-image: url(https://abs.twimg.com/emoji/v2/svg/1f50d.svg);
background-repeat: no-repeat;
background-position: right -10% bottom 50%;
background-size: 50% 50%;
border-color: #dadada;
font-size: 0.9em;
}

form {
margin: auto;
text-align: center;
}

.google {
margin: auto;
text-align: center;
}

button.ja{
padding-right: 10px;
padding-left: 10px;
margin: auto;
color: #fcfcfc;
background: #1DA1F2;
border: none;
outline: none;

font-weight: bold;
display:inline-block;
border-radius: 50px;

touch-action: manipulation;
}

button.en{
padding-right: 10px;
padding-left: 10px;
padding-top: 2px;
padding-bottom: 2px;
margin: auto;
color: white;
background: #1DA1F2;
border: none;
outline: none;

display:inline-block;
border-radius: 50px;

touch-action: manipulation;
}

button.us{
padding-right: 10px;
padding-left: 10px;
margin: auto;
color: #fcfcfc;
background: #1DA1F2;
border: none;
outline: none;

display:inline-block;
border-radius: 50px;

touch-action: manipulation;
}

h1 {
padding-right: 10px;
padding-left: 10px;

color: white;
background: #1DA1F2;

border-radius: 50px;
border: 1px solid black;

display:inline-block;
}

a {
color: #1da1f2;
font-weight: bold;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}

.scroll {
overflow-x: scroll;
white-space: nowrap;
}

.material-icons {
-webkit-user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}

@media (prefers-color-scheme: light) {
   body {
   background-color: white;
   }
   .scs {
   border-left:solid 1px #dadada;
   border-right:solid 1px #dadada;
   border-bottom:solid 1px #dadada;
   background-position: left bottom 50%;
   border-color: #dadada;
   }
.hoge:after{
content:"light";
}
}

@media (prefers-color-scheme: dark) {
   body {
   background-color: #23282f;
   }
   textarea{
   background-color: #444444;
   border-color: #667580;
   color: white;
   }
   p {
   color: white;
   }
   .scs {
   border-left:solid 1px;
   border-right:solid 1px;
   border-bottom:solid 1px;
   background-position: left bottom 50%;
   border-color: #667580;
   }
.hoge:after{
content:"dark";
}
:root{
--mycontent:black;
}
}
