textarea {
   background-image: url(https://abs.twimg.com/emoji/v2/svg/2328.svg);
   background-repeat: no-repeat;
   background-position: left bottom 50%;
   background-size: 50% 50%;
   border-color: #dadada;
}
form {
   text-align: center;
   margin: auto;
}

pre {
   scrollbar-color: black;
}

pre::-webkit-scrollbar{height:10px;}
pre::-webkit-scrollbar-track{background:#dddddd;}
pre::-webkit-scrollbar-thumb{background:#2cc2e4;}

.scroll {
   overflow-x:scroll;
}

.press {
   background-color: #dadada;
   font-size: 7px;
   border-top:solid 1px #dadada;
   border-left:solid 1px #dadada;
   border-right:solid 1px #dadada;
   border-bottom:solid 1px #dadada;
   padding-bottom: 0px; 
   width:25%;
}

.btn {
   user-select:none;
   -ms-user-select:none;
   font-size:12px;
   position:absolute;right:0;
   color:#768390;
   line-height:1em;
   padding:2px 5px;
   z-index:99999;
}

.ctn {
   position:absolute;left:45%;
}
