textarea {
   background-image: url(https://abs.twimg.com/emoji/v2/svg/2328.svg);
   background-repeat: no-repeat;
   background-position: right bottom 50%;
   background-size: 50% 50%;
   border-color: #dadada;
}
form {
   text-align: center;
   margin: auto;
}

.press {
   position: relative;
   font-size: 6.5px;
   background-color: #f6f8f9;
   border-top:solid 1px #dadada;
   border-left:solid 1px #dadada;
   border-right:solid 1px #dadada;
   border-bottom:solid 1px #dadada;
   padding-bottom: 0px; 
   width:25%;
   margin-left:6.25%;
   margin-top:30px;
}

.btn {
   position:absolute;right:0;
   color:#768390;
   padding:4px 4px;
   z-index:99999;
}

.ctn {
   position:absolute;left:41%;
}

.scroll {
   overflow-x:scroll;
}

pre {
   font-family:-apple-system,'BlinkMacSystemFont',Sans-Serif;
}

@media (prefers-color-scheme: light) {
    body {
    background-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    body {
    background-color: #23282f;
    }
    textarea{
    background-color: #444444;
    color: white;
    }
    p {
    color: white;
    }
    .press {
    background-color: #444444;
    color: white;
    }
}
